<div class="row mt-5">
    <div class="col-md-3" style="height: 300px;">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link" routerLinkActive='active' routerLink='tela-filha-1'  aria-current="page" href="javascript:void(0);">Tela Filha 1</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLinkActive='active' routerLink='tela-filha-2' aria-current="page" href="javascript:void(0);">Tela Filha 2</a>
            </li>
        </ul>
    </div>
    <div class="col-md-9">
        <router-outlet></router-outlet>        
    </div>
</div>