.bg-light {
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-light-rgb),var(--bs-bg-opacity))!important;
}
.py-3 {
    padding-top: 1rem !important;
    padding-bottom: 1rem!important;
}
.mt-auto {
    margin-top: auto!important;
}
.footer{
    display: block;
}